/* Buttons */

.theme-dark button.btn-primary {
  background-color: #0072f9;
}
.theme-dark button.btn-primary:disabled {
  background-color: #4f95eb;
}
.theme-dark button.btn-primary:hover:not(:disabled) {
  background-color: #035ece;
}
.theme-dark button.btn-warning {
  background-color: #ffbf2f;
  color: black;
}
.theme-dark button.btn-warning:hover:not(:disabled) {
  background-color: #e29e00;
}
.theme-dark button.btn-danger {
  background-color: #e23047;
}
.theme-dark button.btn-danger:hover:not(:disabled) {
  background-color: #d1162f;
}
.theme-dark button.btn-secondary {
  background-color: #6b757d;
}
.theme-dark button.btn-secondary:hover:not(:disabled) {
  background-color: #596168;
}

.theme-dark button.btn-small {
  font-size: 0.9rem;
  padding: 6px;
  border-radius: 4px;
  line-height: 1.2rem;
}
