/* Generic styles for standard HTML elements */

.theme-dark * {
  color: white;
}

.theme-dark *:focus:not(.outline-none) {
  outline: 4px solid rgba(100, 100, 100, 0.3);
}

.theme-dark body {
  background-color: #181a1b;
}

/* Inputs */
.theme-dark input,
.theme-dark select,
.theme-dark textarea {
  background-color: #3f444b;
}

/* Links */
.theme-dark a {
  color: #1c92fb;
}
.theme-dark a:hover {
  color: #41a5fc;
}
