/* Treeview checkbox */

.theme-dark .treeview input[type='checkbox'] {
  border: 1px solid #666;
  background-color: #2f2f2f;
}

.theme-dark .treeview input[type='checkbox']:hover {
  border-color: #aaa;
  background-color: #333;
}

.theme-dark .treeview input[type='checkbox']:checked,
.theme-dark .treeview input[type='checkbox'].indeterminate {
  background-color: #2588caa4;
  border-color: #2588ca;
}

.theme-dark .treeview input[type='checkbox']:disabled {
  background-color: #444;
  border-color: #666;
}

.theme-dark .treeview input[type='checkbox']:checked::after {
  border: solid #fff;
}

.theme-dark .treeview input[type='checkbox']:focus {
  box-shadow: 0 0 0 2px rgba(76, 102, 175, 0.18);
}

.theme-dark .treeview input[type='checkbox'].indeterminate::after {
  background-color: #fff;
}
