# dependencies
node_modules/

# pnpm
.pnpm-store/

# notes
my_notes

# build outputs
dist/
out/

# logs
*.log*

# eslint
.eslintcache

# OS
.DS_Store

# vite
.vite
electron.vite.config.*.mjs

# trash
*trash*
