.theme-dark .explorer .file-icon {
  background-image: url('@renderer/assets/images/book.png');
  width: 18px;
  height: 23px;
  margin-right: 1px;
  margin-bottom: 1px;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 1px 2px;
}
