.theme-dark .v-popper__popper {
  font-size: 0.88rem !important;
  opacity: 1 !important;
}
.theme-dark .v-popper__inner {
  opacity: 1 !important;
  background: #070707 !important;
}
.theme-dark .v-popper__arrow-container * {
  opacity: 1 !important;
  border-color: #070707 !important;
}
