.theme-dark .rte .editor {
  background-color: #292a2b;
  padding: 3px;
  border: 1px solid #464b53;
}

.theme-dark .rte .selected-image {
  outline: 4px solid rgb(30, 144, 255, 0.6);
}

.theme-dark .rte .toolbar-container {
  height: 0px;
  position: sticky;
  bottom: 0;
  left: 0;
}
.theme-dark .rte .toolbar {
  visibility: hidden;
  transform: translateY(-100%);
}
.theme-dark .rte:focus-within .toolbar {
  visibility: visible;
}

.theme-dark .rte .context-menu {
  background: #1e1e1e;
  border: 1px solid #3b3b3b;
  border-radius: 6px;
  padding: 4px 0;
  width: 150px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.45);
  font-size: 14px;
  color: #e5e5e5;
  z-index: 999999;
  cursor: pointer;
  user-select: none;
}

.theme-dark .rte .context-menu > div {
  padding: 7px 12px;
  transition: background 0.15s ease;
}
.theme-dark .rte .context-menu > div:hover {
  background: #2a2a2a;
}
.theme-dark .rte .context-menu > div:active {
  background: #333;
}
