.theme-dark .rte .editor {
  background-color: #292a2b;
  padding: 3px;
  border: 1px solid #464b53;
}

.theme-dark .rte .selected-image {
  outline: 4px solid rgb(30, 144, 255, 0.6);
}

.theme-dark .rte .toolbar-container {
  position: sticky;
  bottom: 0;
  height: 0;
}

.theme-dark .rte .toolbar {
  visibility: hidden;
  transform: translateY(-100%);
}
.theme-dark .rte:focus-within .toolbar {
  visibility: visible;
}
