.theme-dark .flashcards-page .flashcards-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #141414;
  border: 1px solid #ffffff0f;
  color: #e4e4e4;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}

.theme-dark .flashcards-page .flashcards-info div {
  white-space: nowrap;
  padding: 4px 0;
  flex-grow: 1;
  text-align: center;
}

.theme-dark .flashcards-page .flashcards-info div + div {
  border-left: 1px solid #ffffff0f;
}
