.theme-dark .flashcard .top {
  font-size: 14px;
  line-height: 1;
  padding: 0 8px;
  min-height: 23px;
}

.theme-dark .flashcard .focus-icon {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  width: 20px;
  height: 20px;
}
.theme-dark .flashcard .focus-icon:hover {
  opacity: 1;
}

.theme-dark .flashcard .head textarea {
  field-sizing: content;
  resize: none;
}
