.theme-dark .rte-root .toolbar {
  background-color: #e4e4e4;
  border: 1px solid #9c9c9c;
  padding: 3px;
  z-index: 99999;
}

.theme-dark .rte-root .toolbar-btn {
  width: 25px;
  height: 25px;
  padding: 1px;
  margin: 0 3px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}

.theme-dark .rte-root .toolbox {
  background-color: #e4e4e4;
  border: 1px solid #9c9c9c;
}

.theme-dark .rte-root .font-sizes {
  width: 50px;
  text-align: center;
  font-weight: bold;
}

.theme-dark .rte-root .font-sizes div {
  color: #000;
}
.theme-dark .rte-root .font-sizes div:hover {
  background-color: #fff;
}

.theme-dark .rte-root .toolbar-btn:hover,
.theme-dark .rte-root .toolbar-btn.active {
  background-color: #fff;
  outline: 2px dotted rgb(30, 144, 255, 0.6);
}

.theme-dark .rte-root .toolbar-undo {
  background-image: url('./assets/toolbar/undo.png');
}
.theme-dark .rte-root .toolbar-redo {
  background-image: url('./assets/toolbar/redo.png');
}
.theme-dark .rte-root .toolbar-bold {
  background-image: url('./assets/toolbar/bold.png');
}
.theme-dark .rte-root .toolbar-italic {
  background-image: url('./assets/toolbar/italic.png');
}
.theme-dark .rte-root .toolbar-underline {
  background-image: url('./assets/toolbar/underline.png');
}
.theme-dark .rte-root .toolbar-strikeThrough {
  background-image: url('./assets/toolbar/strikethrough.png');
}
.theme-dark .rte-root .toolbar-superscript {
  background-image: url('./assets/toolbar/superscript.png');
}
.theme-dark .rte-root .toolbar-subscript {
  background-image: url('./assets/toolbar/subscript.png');
}
.theme-dark .rte-root .toolbar-clear {
  background-image: url('./assets/toolbar/clear.png');
}
.theme-dark .rte-root .toolbar-resize {
  background-image: url('./assets/toolbar/resize.png');
}
.theme-dark .rte-root .toolbar-textcolor {
  background-image: url('./assets/toolbar/textcolor.png');
}
.theme-dark .rte-root .toolbar-backgroundcolor {
  background-image: url('./assets/toolbar/backgroundcolor.png');
}
