.theme-dark .explorer .file-icon {
  background-image: url('@renderer/assets/images/open-book.png');
  width: 21px;
  height: 21px;
  background-size: 21px;
  margin: 0 1px;
  background-repeat: no-repeat;
  background-position: 0 1px;
}
