.theme-dark .editor-page .rte .editor {
  min-height: 146px;
}

.theme-dark .editor-page .media-input-root {
  min-height: 96px;
}

.theme-dark .editor-page hr {
  border-color: #60656e;
}

.theme-dark .editor-page .card-field {
  position: relative;
}

.theme-dark .editor-page .card-label {
  position: absolute;
  top: 1px;
  right: 4px;
  font-size: 13px;
  opacity: 0.45;
  pointer-events: none;
  user-select: none;
}
